@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto+Slab:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto Slab', sans-serif;
  line-height: 1.5;

  color: #ebe7ef;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background: radial-gradient(
      circle at top,
      rgba(241, 210, 70, 0.98),
      rgba(250, 176, 103, 0.87)
    ),
    url('/bg-pattern-dark.png');
  background-repeat: repeat;
  background-size: 100% 100%, 30% 30%, 100% 100%;
  min-height: 110rem;
}

header {
  text-align: center;
}

header img {
  width: 8rem;
  object-fit: contain;
  margin: 1.5rem auto 1rem auto;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.4));
}

h1 {
  font-family: 'Caprasimo', cursive;
  font-size: 1.5rem;
  margin: 0 auto 1.5rem auto;
  color: #3f3b00;
}

#game-container {
  max-width: 45rem;
  border-radius: 6px;
  background: linear-gradient(#383624, #282617);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: relative;
}

#players {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#players li {
  display: flex;
  align-items: center;
  width: 50%;
  border: 2px solid transparent;
}

#players.highlight-player li.active {
  border-color: #f6e35a;
  animation: pulse 2s infinite ease-in-out;
}

#players.highlight-player li.active .player-name,
#players.highlight-player li.active .player-symbol {
  color: #f6e35a;
}

#players button {
  width: 3rem;
  border: none;
  background: none;
  color: #c3ba78;
  font-size: 0.9rem;
  cursor: pointer;
  transition: color 0.2s;
  padding: 0.5rem 0.25rem 0.25rem 0.25rem;
  text-align: center;
}

#players button:hover {
  color: #f8ca31;
}

.player {
  border: 2px solid transparent;
  border-radius: 4px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.player-name {
  display: inline-block;
  width: 100%;
  color: #e1dec7;
  text-transform: uppercase;
  margin: 0;
  padding: 0.5rem;
  border-radius: 4px;
  text-overflow: ellipsis;
  text-align: center;
}

.player input {
  width: 100%;
  border: none;
  padding: 0.5rem;
  animation: pulse-text 2s infinite;
  background-color: #46432f;
  text-transform: uppercase;
}

@keyframes pulse-text {
  0% {
    color: #e1dec7;
  }
  50% {
    color: #9f9d83;
  }
  100% {
    color: #e1dec7;
  }
}


.player-name input,
.player-name,
.player-symbol {
  font-size: 0.8rem;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

#game-board {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
  padding: 0;
  flex-direction: column;
}

#game-board ol {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.game-button-container{
  gap: 2rem;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
}

.game-board row {
  gap: 2rem;
}

#game-board button {
  width: 100%;
  height: 100%;
  border: none;
  background: #aca788;
  color: #3f3b00;
  font-size: 5rem;
  cursor: pointer;
  font-family: 'Caprasimo', cursive;
  padding: 1rem;
}

@media (max-width: 48rem) {
  body {
    background-size: 100% 100%, 50% 50%, 100% 100%;
    min-height: 100vh;
  }

  header img {
    width: 6rem;
    margin: 1rem auto;
  }

  h1 {
    font-size: 1.2rem;
    margin: 0 auto 1rem auto;
  }

  #game-container {
    padding: 1rem;
  }

  #players li {
    width: 100%;
  }

  .player-name,
  .player-symbol,
  #players button
  #players input {
    font-size: 0.8rem;
  }

}

@media (min-width: 48rem) {
  header img {
    margin: 3rem auto 1rem auto;
  }

  #game-container {
    padding: 1rem;
    margin: 3rem auto;
  }

  h1 {
    font-size: 3rem;
    margin: 0 auto 3rem auto;
  }

  #players li {
    justify-content: center;
    gap: 1.4rem;
}

  .player-name input,
  #players button,
  .player-name,
  .player-symbol {
    font-size: 1.5rem;

  }
}